*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
    font-family: "Source Sans Pro", "Arial", sans-serif;;
}

.header{
    background-color: #1F2937;

}
/*nav bar*/

ul  {
   list-style: none;
   display: flex;
   gap: 15px
}

a   {
    text-decoration: none;
    color: white;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    flex: auto;
    padding: 25px;
    
}

.logo{
    color: white; 
    font-weight: 900;
    font-size: 24px;
}

/*nav bar*/


/*Header content*/


.header-content{
    margin-top: 10px;
    display: flex;   
    align-items: center;
    justify-content: space-evenly;
    padding: 16px;
    color: white;
}

.awesome{
    font-size: 48px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif;
}

.info-header{
    max-width: 30%;
    margin-bottom: 70px;
}

img{
    width: 500px;
}

button{
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 10pt;
    border: none;
    margin-top: 5px;
}

/*Header content*/


/*Course info*/

h2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 30px 0;
}

.course-info{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
   
    flex: 1;
    flex-wrap: wrap;
}

.info > img{
    width: 180px;
    height: auto;
    border-radius: 10pt;
}

.info{
    width: 150px;
}

/*Course info */

/*Quote section*/
    .quote-section{
        background-color:#E5E7EB;
        padding: 100px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-top: 40px;
    }

    .quote{
        font-size: 36px;
    }

    .author{
        display: flex;
        align-self: flex-end;
        font-weight: bolder;
    }
/*Quote section*/